
html, body {
  height: 100%;
  width: 100%;
  background-color: rgba(51, 61, 77, 0.97);
  background-image: url("media/fondo2.png");
  background-size: cover; /* Ajusta la imagen al tamaño de la ventana */
  background-repeat: repeat; /* Evita que la imagen se repita */
  position: absolute; /* Establece la posición como absoluta */
  top: 0; /* Alinea la parte superior con el borde superior de la ventana */
  left: 0; /* Alinea la izquierda con el borde izquierdo de la ventana */
  width: 100%; /* Ocupa todo el ancho de la ventana */
  height: 100%; /* Ocupa toda la altura de la ventana */
}

/* La tipografia default */
body {
  background-image: url("media/fondo2.png");
  background-size: cover; /* Ajusta la imagen al tamaño de la ventana */
  background-repeat: repeat; /* Evita que la imagen se repita */
  position: absolute; /* Establece la posición como absoluta */
  top: 0; /* Alinea la parte superior con el borde superior de la ventana */
  left: 0; /* Alinea la izquierda con el borde izquierdo de la ventana */
  width: 100%; /* Ocupa todo el ancho de la ventana */
  height: 100%; /* Ocupa toda la altura de la ventana */
}
.fondo{
  position: fixed;
  align-items: center;
}
.fondo2{
  background-image: url("media/fondo2.png");
  background-size: cover; /* Ajusta la imagen al tamaño de la ventana */
  background-repeat: repeat; /* Evita que la imagen se repita */
  position: static; /* Establece la posición como absoluta */
  top: 0; /* Alinea la parte superior con el borde superior de la ventana */
  left: 0; /* Alinea la izquierda con el borde izquierdo de la ventana */
  width: 100%; /* Ocupa todo el ancho de la ventana */
  height: 100%; /* Ocupa toda la altura de la ventana */
}
.logo{
  position: relative;
  top: 51%;
  width: 500px;
  margin-left: 6%;
}
.bandera{
  width: 100%;
  height: 6%;
  position: absolute;
  top: 20px;
  left: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
}

/* Botones previo y siguiente */
.prevBtn, .nextBtn{
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 2px solid #000;
  position: absolute;
  top: 50vh;
  opacity: 0.6;
  background-color: lightgray;
  transition: opacity 0.25s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  z-index: 1000;
}
.prevBtn{
  left: 30px;
}
.nextBtn{
  right: 30px;
}
/* Botones bloqueados */
.prevBtn.block, .nextBtn.block{
  pointer-events: none;
  opacity: 0.5;
  background-color: transparent;
}
/* Botones con mouse over */
.prevBtn:hover, .nextBtn:hover{
  opacity: 1;
}
/* Las flechas dentro de los botones */
.flecha{
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: auto;
  position: absolute;
  top: 50%;
  pointer-events: none;
}
.flecha.izq {
  left: 55%;
  transform: translateX(-55%) translateY(-45%) rotate(45deg);
}
.flecha.der {
  right: 60%;
  transform: translateX(55%) translateY(-45%) rotate(-135deg);
}
/* Fin botones */
/* Apertura: positioning */

.ciudad{
position: relative;
margin-left: -28%;
margin-top: 18%;
width: 90%;
}
.Milei{
  position: relative;
  width: 24%;
  height: 280px;
  top: 61%;
  left: 60%;
}

#headerApertura {
  position: absolute;
  margin-top: 37%;
  margin-left: 55%;
  padding: 5px 15px;
  width: 420px;
  text-align: right;
}

#headerApertura h1 {
  color:white;
  font-size: 60px;
  font-weight: 700;
  font-family: "PT Sans Demi",sans-serif;
  margin-bottom: 20px;
  width: 140%;

  margin: 0;
}
#headerApertura p {
  width: 140%;
  font-size: 32px;
  font-family: "PT Book", sans-serif; /* Fuente "PT Sans" con respaldo sans-serif en caso de que no esté disponible */
  font-style: oblique; /* Aplica el estilo oblicuo (cursiva) */
  color:white;
  font-weight: 500;

}

#slide1 {
  display: grid;
  width: 100%;
  max-width: 1300px;
  position: relative;
  grid-template-columns: 1fr,1fr;
}

#slide1 .header {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 20px;
}

#slide1 .dwMap {
  position:absolute;
  top: 200px;
  left: 400px;
  width: 500px;
  height: 500px;
}


 
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.contenido {
  display: flex;
  align-items: center;
}

.imagen {
  flex: 1;
  text-align: center;

}

.imagen img {
  max-width: 100%;
  height: 50%;
}

.texto {
  flex: 1;
  text-align: left;
  width: 80px;
  font-weight: 700;
  font-size: large;
  color:white;
}
.titulo {
  font-size: 30px; /* Tamaño del título */
  font-weight: bold; /* Negrita del título */
  color:white;
  
}


.texto2 {
  flex: 1;
  text-align: left;
  width: 80px;
  font-weight: 700;
  font-size: large;
  color:white;
}
.titulo2 {
  font-size: 30px; /* Tamaño del título */
  font-weight: bold; /* Negrita del título */
  color:white;
  
}
.barras{
margin-left: 31%;
width: 36%;

}
#contenedor2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -10%;
}
#contenedor2 h1{
color: white;
font-size: large;

}
#contenedor2 p{
  color: white;
}
#imagen2 {
  max-width: 100%;
  max-height: 70vh;
}
#videoApertura {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 300px;
  height: 500px;
  object-fit: cover;
  object-position: top;
}
#contenedor3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -10%;
}
#contenedor3 h1{
  position:absolute;
color: white;
font-size: large;

}
#contenedor3 p{
  color: white;
}

.estructura {
  display: flex; /* Utilizamos flexbox para crear la estructura de columnas */
}

.columna {
  flex: 1; /* Distribuye el espacio de manera igual entre las columnas */
  padding: 10px; /* Agrega un espacio interior para separar el contenido de las columnas */
  
  text-align: center; /* Centra el contenido dentro de las columnas */
}