html, body {
  height: 100%;
  width: 100%;
  background-color: rgba(35, 57, 77, 0.97);
}

/* La tipografia default */
body {
  background-image: url("media/fondo2.png");
  background-size: cover; /* Ajusta la imagen al tamaño de la ventana */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  position: absolute; /* Establece la posición como absoluta */
  top: 0; /* Alinea la parte superior con el borde superior de la ventana */
  left: 0; /* Alinea la izquierda con el borde izquierdo de la ventana */
  width: 100%; /* Ocupa todo el ancho de la ventana */
  height: 100%; /* Ocupa toda la altura de la ventana */
}
.fondo{
  position: fixed;
  align-items: center;
}
.logo{
  position: relative;
  margin-top: 36%;
  width: 35%;
  margin-left: 6%;
}
.bandera{
  width: 100%;
  height: 50%;
  
  position: relative;
  margin-top: -50%;
}

/* Contenedor de los slides */
.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
}

/* Botones previo y siguiente */
.prevBtn, .nextBtn{
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 2px solid #000;
  position: absolute;
  top: 50vh;
  opacity: 0.6;
  background-color: lightgray;
  transition: opacity 0.25s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  z-index: 1000;
}
.prevBtn{
  left: 30px;
}
.nextBtn{
  right: 30px;
}
/* Botones bloqueados */
.prevBtn.block, .nextBtn.block{
  pointer-events: none;
  opacity: 0.5;
  background-color: transparent;
}
/* Botones con mouse over */
.prevBtn:hover, .nextBtn:hover{
  opacity: 1;
}
/* Las flechas dentro de los botones */
.flecha{
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: auto;
  position: absolute;
  top: 50%;
  pointer-events: none;
}
.flecha.izq {
  left: 55%;
  transform: translateX(-55%) translateY(-45%) rotate(45deg);
}
.flecha.der {
  right: 60%;
  transform: translateX(55%) translateY(-45%) rotate(-135deg);
}
/* Fin botones */
/*
h1 {
  text-align: center;
}
*/
.bajada {
  font-size: 22px;
}
p {
  text-align: center;
}


/* Apertura: positioning */
#videoApertura {
  position: absolute;
  top: 0;
  right: 100px;
  width: 40%;
  height: 70%;
  object-fit: cover;
  
}
/*
#headerApertura {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 5px 15px;
  width: 420px;
}
*/
#headerApertura h1 {
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
  margin: 0;
}
#headerApertura p {
  text-align: left;
  font-size: 20px;

}

/* Slide 1: uso de grid */
#slide1 {
  display: grid;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  position: relative;
  grid-template-columns: 1fr 1fr;
}

#slide1 .header {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 20px;
}

#slide1 .dwMap {
  margin: 0 auto;
  width: 100%;
  max-width: 460px;
}

/* Slide 1: uso de flex */

#slide2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-self: center; */
}

#slide2 .header {
  /* margin: 40px 0; */
}

#slide2 .barras {
  max-width: 800px;
}
